
#  NOTES :
# - No accents!
# - Reads english

%start PSA

# ================================================= #
# Non terminal symbols (uppercase)
# ================================================= #

# Sequences (top of the graph)
# ------------------------------------------------- #
PSA[SEM=<app(?ps, ?pp)>] -> PS[SEM=?ps] PP[SEM=?pp]
#PS[SEM=<app(?symptEquation, ?who)>] -> NP[SEM=?who] VP[SEM=?symptEquation]
PS[SEM=<app(?v, ?np)>] -> NP[SEM=?np] VP[SEM=?v]

# Name groups
# ------------------------------------------------- #
NP[SEM=?properName] -> nprop[SEM=?properName]

# Time identifier
NP[SEM=?number] -> num[SEM=?number] numQual

NP[SEM=?name] -> det n[SEM=?name]
NP[SEM=?name] -> n[SEM=?name]


# Verb groups
# ------------------------------------------------- #
VP[SEM=?action] -> v NP[SEM=?action]


# Phrase preposition groups
# ------------------------------------------------- #
PP[SEM=?name] -> prep NP[SEM=?name]


# ================================================= #
# Terminal symbols (Dictionnary) (lowercase)
# ================================================= #

# Proper names
# ------------------------------------------------- #
nprop[SEM=<lisa>] -> 'Lisa'
nprop[SEM=<bart>] -> 'Bart'
nprop[SEM=<marge>] -> 'Marge'
nprop[SEM=<maggie>] -> 'Maggie'
nprop[SEM=<carl>] -> 'Carl'
nprop[SEM=<ralph>] -> 'Ralph'
nprop[SEM=<homer>] -> 'Homer'
nprop[SEM=<moe>] -> 'Moe'
nprop[SEM=<lenny>] -> 'Lenny'

# todo ...

# Common names
# ------------------------------------------------- #
n[SEM='has-diarrhea-at'] -> 'diarrhee'
n[SEM='is-vomitting-at'] -> 'vomit'

n[SEM=<\p.\t.(hasHeadacheAt(p,t))>] -> 'mal' 'a' 'la' 'tete'

# Verbs
# ------------------------------------------------- #
v -> 'a'

# Numbers
# ------------------------------------------------- #
num[SEM=<1>] -> '1'
num[SEM=<2>] -> '2'
num[SEM=<3>] -> '3'
num[SEM=<4>] -> '4'
num[SEM=<5>] -> '5'
num[SEM=<6>] -> '6'
num[SEM=<7>] -> '7'
num[SEM=<8>] -> '8'
num[SEM=<9>] -> '9'
num[SEM=<10>] -> '10'
num[SEM=<11>] -> '11'
num[SEM=<12>] -> '12'
num[SEM=<13>] -> '13'
num[SEM=<14>] -> '14'
num[SEM=<15>] -> '15'
num[SEM=<16>] -> '16'
num[SEM=<17>] -> '17'
num[SEM=<18>] -> '18'
num[SEM=<19>] -> '19'
num[SEM=<20>] -> '20'
num[SEM=<21>] -> '21' 

J' -> Je

J'appel - > Je appel
' -> 
J'appel -> J appel
J portais

# Number qualifier
# ------------------------------------------------- #
numQual -> 'heure' | 'heures'

# Determinants
# ------------------------------------------------- #
det -> 'la' | 'le'| 'les' | 'de' | 'un' | 'une' | 'des' | 'les' | 'du' | 'au' | 'aux' | 'l' | 'c' | 'd' 

# Prepositions
# ------------------------------------------------- #
prep -> 'à' | 'chez' | 'dans' | 'de' | 'entre' | 'jusque' | 'hors' | 'par' | 'pour' | 'sans' | 'vers'
